<!DOCTYPE html>
<HTML lang="ES" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="./estilo/estilo.css">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${sitio.nombre}">Contacto - APP Reservas</title>
</head>
<body class="cuerpo">
    <header class="header">
        <img th:src="@{/img/fondoHotel.jpg}" width=100% height=200%>
        <div class="perfil">
            <img th:src="@{/img/logoHotel.png}">
            <h1 th:text="${negocio.nombre}" class="titulo">Hotel CUH</h1>
        </div>
    </header>
    <div class="navegacion">
      <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">|Inicio|</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">|Reservaciones|</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">|Salir|</a>
  </div>
</nav>
   
    </div>
<div class="titular">
<h2>Espacios Disponibles</h2>
</div>
    <section id="espacios" class="row">
        <div class="col-xs-6">
        <ul th:each="espacio: ${espacios}">
            <li>
                <div class="espacio ">
                    <h2 th:text="${espacio.nombre}">Cuarto Pequeño</h2>
                    <article >
                        <img th:src="${espacio.img}">
                        <div class="info-article">
                            <div class="descripcion">
                            <p th:text="${espacio.descripcion}">Se renta cuarto para una persona, amueblado, un solo baño.</p>
                            </div>
                            <a th:href="@{/detalles/{id}(id=${espacio.id})}" target="_blank" class="boton">Ver Detalles</a>
                            
                            </div>
            
                    </article>
                </div>
            </li>
        </ul>
        

</div>
    </section>
</body>

</HTML>